@layer base {
    html {
      font-family: 'Montserrat', sans-serif;
      scroll-behavior: smooth;
      background-color: #F3F4F6;
    }
}
/* Buttons colors */
.btn-primary {
    @apply bg-blue-muni border-blue-700 text-blue-200;
}

.btn-success {
    @apply bg-green-500 border-green-700 text-green-200;
}

.btn-danger {
    @apply bg-red-500 border-red-700 text-red-200;
}

.btn-warning {
    @apply bg-yellow-500 border-yellow-700 text-yellow-200;
}

.btn-muni {
    @apply bg-lime-muni border-lime-700 text-lime-100;
}

.btn-dark {
    @apply bg-gray-600 border-gray-700 text-gray-200;
}

.input {
    @apply border-2 px-3 h-10 rounded-lg shadow-lg text-gray-500 w-full focus-within:border-blue-400;
}

.btn {
    @apply border-2 px-6 py-2 rounded-lg text-lg  shadow-lg bg-opacity-90 hover:bg-opacity-100 focus:bg-opacity-100 font-bold active:scale-95 disabled:bg-gray-400 disabled:shadow-black disabled:border-gray-600 disabled:text-gray-500;
}